<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src={{image_url}}
    />
    <div class="card-body">
      <h5 class="card-title"> {{name}}</h5>
      <p class="card-text">{{tagline}}</p>
      <p class="description">{{description}}</p>
      <p class="food-pairing"> Food pairing </p>
      <ul>
      {{#each food_pairing}}
        <li>{{this}}</li> {{! "This" represents each item on the list !}}
      {{/each}}
    </ul>
      <p class="brewers_tips"> Brewers tips: {{brewers_tips}}</p>
    </div>
  </div>
</div>